{
  "presets": [
    [
      "@babel/preset-env",
      {
        "exclude": ["transform-regenerator"]
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
